<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>MineLibrary</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="../assets/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../assets/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="../assets/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<header th:replace="reader/navbar::navbar('history')">

</header>
<div class="am-panel reader-main">
    <div class="am-panel-bd">
        <table class="am-table am-table-bordered am-table-radius am-table-striped">
            <tr>
                <th>书名</th>
                <th>借阅日期</th>
                <th>应还日期</th>
                <th>续借次数</th>
            </tr>
            <tr th:each="borrow: ${borrows}">
                <td><a th:href="'/reader/book_detail?id=' + ${borrow.bookId}" th:text="${borrow.title}"></a></td>
                <td th:text="${#dates.format(borrow.startDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${#dates.format(borrow.endDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${borrow.renewTimes}"></td>
            </tr>
        </table>
        <ul th:if="!${#lists.size(borrows) == 0} "data-am-widget="pagination" class="am-pagination am-pagination-select" style="margin: 0px 20%">

            <li class="am-pagination-prev ">
                <a th:href="${'/reader/history?page=' + (page - 1 < 0 ? page : page - 1)}" class="">下一页</a>
            </li>
            </li>
            <li class="am-pagination-next ">
                <a th:href="${'/reader/history?page=' + (page + 1)}" class="">下一页</a>
            </li>
        </ul>
    </div>
</div>
</body>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jjqueryquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/helper.js"></script>
<script>
    $(document).ready(function() {
        $.post("/reader/borrow", {}, function(res) {
            if (res.status == 200) {
                helper.update(res.data)
            }
        })
    })
</script>
</html>