<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>MineLibrary</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="../assets/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../assets/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="../assets/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<header th:replace="admin/navbar::navbar('new_book')">

</header>
<div class="am-panel reader-main">
    <div class="am-panel-bd">
        <form class="am-form">
            <fieldset>
                <div class="am-form-group">
                    <label for="title">标题</label>
                    <input type="text" class="" name="title" id="title">
                </div>
                <div class="am-form-group">
                    <label for="press">出版社</label>
                    <input type="text" class="" id="press" name="press">
                </div>
                <div class="am-form-group">
                    <label for="isbn">isbn</label>
                    <input type="text" class="" id="isbn" name="isbn">
                </div>
                <div class="am-form-group">
                    <label for="carrier">载体形态项</label>
                    <input type="text" class="" id="carrier" name="carrier">
                </div>
                <div class="am-form-group">
                    <label for="subject">主题</label>
                    <input type="text" class="" id="subject" name="subject">
                </div>
                <div class="am-form-group">
                    <label for="desc">描述</label>
                    <input type="text" class="" id="desc" name="desc">
                </div>
                <div class="am-form-group">
                    <label for="clas">类别</label>
                    <input type="text" class="" id="clas" name="clas">
                </div>
                <div class="am-form-group">
                    <label for="count">数量</label>
                    <input type="text" class="" id="count" name="count">
                </div>
                <p><button type="submit" class="am-btn am-btn-default">提交</button></p>
            </fieldset>
        </form>
    </div>
</div>
</body>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
</html>